*{
    margin: 0%;
    padding: 0%;
   box-sizing: border-box;
}
canvas{
    height: 100vh;
    width: 100%;
}
section{
    height: 100vh;
    width: 100%;
    position: relative !important;
    top: 50% !important;
}
